# Library

In [19]:
# Library
import pandas as pd
import numpy as np
import statistics

## Read Dataset

In [20]:
df = pd.read_csv('contoh_data.csv')

In [21]:
df

      nama  usia   tb  bb
0     Axel    20  180  60
1     Yogi    21  182  66
2     Dian    20  170  58
3  Yesaya     21  178  70
4      Dwi    21  172  50

# Quantile

* Q0 is the smallest value in the data
* Q1 is the value separating the first quarter from the second quarter of the data
* Q2 is the middle value, separating the bottom from the top half
* Q3 is the value separating the third quarter from the fourth quarter
* Q4 is the largest value in the data

In [22]:
data2 = df['tb']
data2

0    180
1    182
2    170
3    178
4    172
Name: tb, dtype: int64

In [23]:
q0 = np.quantile(data2, [0]) # get q0
print(q0)

[170]

In [24]:
q1 = np.quantile(data2, [0.25]) # get q1
print(q1)

[172.]

In [25]:
q2 = np.quantile(data2, [0.5]) # get q2
print(q2)

[178.]

In [26]:
q3 = np.quantile(data2, [0.75]) # get q3
print(q3)

[180.]

In [27]:
q4 = np.quantile(data2, [1]) # get q4
print(q4)

[182]